#items .item {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 5px;
    border: solid 1px #EEE;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
#items .item img {
    vertical-align: middle;
    max-height: 250px;
    max-width: 250px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
